select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 12px;
  background-image: url("../assests/icons/down-arrow.png");
  background-repeat: no-repeat;
  background-position: right center;
}

#uploadComp {
  background-color: #b2b2b3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 100%;

  .container {
    background-color: #fefeff;
    border-radius: 20px;
    padding: 32px 34px;
    width: 60vw;
    height: 80vh;
  }

  .close-btn {
    background-color: #1d3f6e;
    padding-top: 4px;
    border-radius: 10px;
    width: 40px;
    height: 40px;
  }

  .close-btn-label {
    color: #fefeff;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 45px;
  }

  .header-label {
    padding-bottom: 15px;
    font-size: 2rem;
    font-weight: 800;
    color: #1d3f6e;
  }

  .partial-border {
    border: 1px solid #e5e5e5;
    width: 285px;
  }

  .form-label {
    font-weight: 700;
    color: #1d3f6e;
  }

  .check-result {
    color: #46b263;
    font-weight: 600;
  }

  .upload-sections {
    display: flex;
    justify-content: space-between;
    margin: 0 48px;

    .select-input {
      width: 100%;
      height: 42px;
      color: #1d3f6e;
      border-radius: 10px;
      border-color: #b2b2b3;
    }

    .left-form {
      flex-basis: 55%;

      .import-name-select {
        margin-bottom: 20px;
        font-weight: 700;
      }

      .drop-container {
        height: 194px;
        border-radius: 10px;
        border: 1px solid #b2b2b3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .droppable-area {
          width: 95%;
          height: 121px;
          border-radius: 5px;
          color: #1d3f6e;
          border: 1px dashed #b2b2b3;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .icon {
            margin-bottom: 12px;
            fill: #fa9d26;
          }

          .browse-file {
            cursor: pointer;
          }
        }

        .upload-action {
          width: 202px;
          height: 33px;
          border-radius: 5px;
          color: #fefeff;
          background-color: #1d3f6e;
          cursor: pointer;
        }
      }
      .imported-file-container {
        display: flex;
        justify-content: space-around;
        margin: 15px 0 16px 0;
        padding: 16px;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;

        .imported-file {
          width: 90%;

          .file-data {
            display: flex;
            justify-content: space-between;
            height: 20px;

            .file-name {
              color: #b2b2b3;
            }

            .file-size {
              color: #7f7f7e;
              font-weight: 600;
            }
          }

          .import-progress-bar {
            width: 100%;
          }
          /* progress::-webkit-progress-value {
            background-color: #fa9d26 !important;
          } */
          /* progress::-webkit-progress-value {
            background: red;
          } */
        }
      }

      .select-tolerance-container {
        .toggle-switch {
          position: relative;
          display: inline-block;
          margin-right: 12px;
          width: 60px;
          height: 34px;
        }
        .toggle-switch input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          transition: 0.4s;
          border-radius: 34px;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          transition: 0.4s;
          border-radius: 50%;
        }

        input:checked + .slider {
          background-color: #1d3f6e;
        }

        input:checked + .slider:before {
          transform: translateX(26px);
        }

        .select-tolerance {
          display: flex;
          align-items: center;

          .tolerance-switch {
            padding-right: 12px;
            color: #1d3f6e;
            border-right: 1px solid #1d3f6e;
          }

          img {
            padding: 0 12px;
          }

          .tolerance-level {
            color: #1d3f6e;
          }
        }
      }
    }

    .right-form {
      flex-basis: 40%;

      .client-testing-container {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */

        .testing-center-label {
          color: #1d3f6e;
        }

        .select-container {
          display: flex;
          justify-content: space-between;
        }

        .client-option-select {
          display: flex;
          align-items: center;
          flex-basis: 50%;

          img {
            width: 24px;
            padding: 12px;
          }
        }
      }

      .custom-radio {
        display: flex;
        align-items: center;
        margin-right: 18px;
        color: #1d3f6e;
      }

      .radio-input {
        display: none;
      }

      .radio-icon {
        cursor: pointer;
        width: 32px;
        margin-right: 8px;
      }

      .schedule-radio-inputs,
      .client-radio-inputs {
        display: flex;
        margin: 12px 0;
      }
    }
  }
  .upload-action-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      color: #1d3f6e;
    }

    .upload-actions {
      .import-button {
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        border-radius: 5px;
        background-color: #1d3f6e;
        color: #e5e5e5;
        margin: 0 12px;
        width: 241px;
        height: 48px;
      }

      .cancel-button {
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        border-radius: 5px;
        background-color: #fefffe;
        border: 1px solid #fa9d26;
        color: #fa9d26;
        margin: 0 12px;
        width: 241px;
        height: 48px;
      }
    }
  }
}
