select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 0.75rem;
  background-image: url("../assests/icons/down-arrow.png");
  background-repeat: no-repeat;
  background-position: right center;
}

#uploadComp {
  background-color: #b2b2b3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 100%;

  @media only screen and (max-width: 768px) {
    height: unset;
  }

  .container {
    background-color: #fefeff;
    border-radius: 20px;
    padding: 2rem 2.125rem;
    width: 60vw;

    @media only screen and (max-width: 1024px) {
      width: 80vw;
    }

    @media only screen and (max-width: 768px) {
      height: unset;
    }
  }

  .close-btn {
    background-color: #1d3f6e;
    padding-top: 0.25rem;
    border-radius: 0.625rem;
    width: 2.5rem;
    height: 2.5rem;
  }

  .close-btn-label {
    color: #fefeff;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.813rem;

    @media only screen and (max-width: 1024px) {
      margin-bottom: 1.25rem;
    }

    @media only screen and (max-width: 768px) {
      margin: 16px;
    }
  }

  .header-label {
    padding-bottom: 0.938rem;
    font-size: 2rem;
    font-weight: 800;
    color: #1d3f6e;
    @media only screen and (max-width: 768px) {
      text-align: center;
    }
  }

  .partial-border {
    border: 1px solid #e5e5e5;
    width: 17.813rem;
  }

  .form-label {
    font-weight: 700;
    color: #1d3f6e;
  }

  .check-result {
    color: #46b263;
    font-weight: 600;
  }

  .upload-sections {
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;

    @media only screen and (max-width: 1024px) {
      margin: 0;
    }

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      justify-content: unset;
    }

    .select-input {
      width: 100%;
      height: 2.625rem;
      color: #1d3f6e;
      border-radius: 0.625rem;
      border-color: #b2b2b3;
    }

    .left-form {
      flex-basis: 55%;

      @media only screen and (max-width: 1024px) {
        flex-basis: 50%;
      }

      .import-name-select {
        margin-bottom: 1.25rem;
        font-weight: 700;
      }

      .drop-container {
        height: 12.125rem;
        border-radius: 0.625rem;
        border: 1px solid #b2b2b3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .droppable-area {
          width: 95%;
          height: 7.563rem;
          border-radius: 5px;
          color: #1d3f6e;
          border: 1px dashed #b2b2b3;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          @media only screen and (max-width: 1024px) {
            width: 90%;
            height: 6.25rem;
          }

          .icon {
            margin-bottom: 0.75rem;
            fill: #fa9d26;
          }

          .browse-file {
            cursor: pointer;
          }
        }

        .upload-action {
          width: 12.625rem;
          height: 2.063rem;
          border-radius: 5px;
          color: #fefeff;
          background-color: #1d3f6e;
          cursor: pointer;

          @media only screen and (max-width: 1024px) {
            width: 10.625rem;
          }
        }
      }
      .imported-file-container {
        display: flex;
        justify-content: space-around;
        margin: 0.938 0 1rem 0;
        padding: 1rem;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;

        .imported-file {
          width: 90%;

          .file-data {
            display: flex;
            justify-content: space-between;
            height: 1.25rem;

            .file-name {
              color: #b2b2b3;
              @media only screen and (max-width: 1024px) {
                width: 18vw;
                text-overflow: ellipsis;
                overflow: hidden;
              }
            }

            .file-size {
              color: #7f7f7e;
              font-weight: 600;
            }
          }

          .import-progress-bar {
            width: 100%;
          }
          /* progress::-webkit-progress-value {
            background-color: #fa9d26 !important;
          } */
          /* progress::-webkit-progress-value {
            background: red;
          } */
        }
      }

      .select-tolerance-container {
        .select-switch {
          display: flex;
          align-items: center;
          @media only screen and (max-width: 768px) {
            margin-bottom: 0.75rem;
          }
        }
        .toggle-switch {
          position: relative;
          display: inline-block;
          margin-right: 0.75rem;
          width: 3.75rem;
          height: 2.125rem;
        }
        .toggle-switch input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          transition: 0.4s;
          border-radius: 34px;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 1.625rem;
          width: 1.625rem;
          left: 4px;
          bottom: 4px;
          background-color: white;
          transition: 0.4s;
          border-radius: 50%;

          @media only screen and (max-width: 1024px) {
            left: 0;
          }
        }

        input:checked + .slider {
          background-color: #1d3f6e;
        }

        input:checked + .slider:before {
          transform: translateX(1.625rem);
        }

        .select-tolerance {
          display: flex;
          align-items: center;

          @media only screen and (max-width: 768px) {
            flex-direction: column;
            align-items: unset;
          }

          .select-level {
            display: flex;
            align-items: center;
            @media only screen and (max-width: 768px) {
              margin-bottom: 0.75rem;
              img {
                padding-left: 0;
              }
            }
          }

          .tolerance-switch {
            padding-right: 0.75rem;
            color: #1d3f6e;
            border-right: 1px solid #1d3f6e;
            @media only screen and (max-width: 768px) {
              border: unset;
            }
          }

          img {
            padding: 0 0.75rem;
          }

          .tolerance-level {
            color: #1d3f6e;
          }
        }
      }
    }

    .right-form {
      flex-basis: 40%;

      .client-testing-container {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */

        .testing-center-label {
          color: #1d3f6e;
        }

        .select-container {
          display: flex;
          justify-content: space-between;
          margin-bottom: 0.5rem;

          @media only screen and (max-width: 768px) {
            flex-direction: column;
          }
        }

        .client-option-select {
          display: flex;
          align-items: center;
          flex-basis: 50%;

          @media only screen and (max-width: 1024px) {
            flex-basis: 56%;
          }

          img {
            width: 1.5rem;
            padding: 0.75rem;
          }
        }
      }

      .custom-radio {
        display: flex;
        align-items: center;
        margin-right: 1.125rem;
        color: #1d3f6e;
      }

      .radio-input {
        display: none;
      }

      .radio-icon {
        cursor: pointer;
        width: 2rem;
        margin-right: 0.5rem;
      }

      .schedule-radio-inputs,
      .client-radio-inputs {
        display: flex;
        margin: 0.75rem 0;
      }
    }
  }
  .upload-action-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      color: #1d3f6e;

      @media only screen and (max-width: 768px) {
        text-align: center;
      }
    }

    .upload-actions {
      @media only screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
      }

      button {
        cursor: pointer;
        font-size: 1rem;
        font-weight: 600;
        border-radius: 5px;
        margin: 0 0.75rem 18px 0.75rem;
        width: 241px;
        height: 3rem;

        @media only screen and (max-width: 1024px) {
          flex-basis: 56%;
          width: 11.25rem;
        }

        @media only screen and (max-width: 768px) {
          padding: 8px;
        }
      }

      .import-button {
        background-color: #1d3f6e;
        color: #e5e5e5;
      }

      .cancel-button {
        background-color: #fefffe;
        border: 1px solid #fa9d26;
        color: #fa9d26;
      }
    }
  }
}
